{% extends "model-page.html"%}

 {% block content %}
    <h2>Agendamentos</h2>
        <a href="evento/">
            <button type="button">Novo Evento</button>
        </a>
        <ul style = "font-size: 22px">
       {% for eventos in eventos %}
        <li>
            <div style = {% if eventos.get_evento_atrasado  %} "color:red" {% endif %} >
                {{ eventos.titulo }} - {{ eventos.get_data_evento }}
                (<a href="evento/?id={{ eventos.id }}"> Editar </a>/
                <a href="evento/delete/{{ eventos.id }}"> Excluir </a>)
            </div>
        </li>
       {% endfor %}
        </ul>
{% endblock %}

